
.container {
    display: flex;
    width: 800px;
    justify-content: space-between;
}

.controls {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.canvas {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
}

.box {
    background-color: antiquewhite;
}